.blog_post {
  margin: 1rem;
  text-align: center;
  float: left;
  width: 300px;
  border: #888 1px solid;
  padding: 10px;
}

.post_image {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.no_image {
  color: #888;
  font-style: italic;
}

.new_post_section {
  width: 100%;
  float: left;
}